{{>header}}
<div class="row" style="margin-top: 70px; height: 60vh;">
    <div style="width: 30%; margin: 25px auto;">
        <h1 style="text-align: center;">Error</h1>
        <div class="container">
            <h1 class="jumbotron-heading">
                Invalid username or password
             </h1>
        </div>
        <a href="/login">Go Back</a>
    </div>
</div>

{{>footer}}