{{>header}}
<main role="main mainContainer" style="margin-top: 70px;">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        Plan Your Meal With Our Special Recipes
      </h1>
      <p class="lead text-muted">
        Best company to help you with your recipes!
      </p>
      <p>
        <a href="/addrecipe" class="btn btn-primary my-2" style="width: 300px;">Add a New Recipe</a>
      </p>
      <form action="/search" method="post" class="form-inline d-flex justify-content-center md-form form-sm">
        <input type="search" class="form-control" name="term" placeholder="Search for Recipe">
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>
  </section>

  {{!-- Food Section --}}
  <div class="card-columns px-5" id="foodSection">
    {{#each recipes}}
      <div class="card">
        <img class="card-img-top imageCells" src="{{this.recipePhotoURL}}">
        <div class="card-body">
          <h5 class="card-title">{{this.recipeName}}</h5>
          <p class="card-text">{{this.recipeDescription}}</p>
          <a href="/recipe/{{this.recipeID}}" class="btn btn-info btn-sm px-5">View</a>
        </div>
      </div>
    {{/each}}
  </div>
</main>
{{>footer}}