<!DOCTYPE html>
<html>
  <head>
    <title>Meal Planner</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://kit.fontawesome.com/dbddc22fc7.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-5">
            <a class="navbar-brand" href="/recipe">Cooking Chef</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/recipe">Recipes<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {{#if Auth}}
                        <li class="nav-item"><a class="nav-link" href="/user">Signed In As {{global_username}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                    {{/if}}
                </ul>
            </div>
    </nav>

