{{>header}}
<div class="container">
    <div class="thumbnail">

        <div class="caption-full">
            <h4 class="pull-right">
                <br><br> {{!-- Scrambled Eggs With Spinach and Mexican-Blend Cheese --}}
            </h4>
            <a href="###">Create an account to Personalize Recipes</a>
            <h4>
                <a href="">Recipe Name: {{recipe.recipeName}}</a>
            </h4>
            <p>
                Recipe Description: {{recipe.recipeDescription}}
            </p>
            <p>

                <em>Recipe by: We have to generate the name of the user using this ID {{creatorID}}</em>
            </p>
            <img class="img-rounded" src="{{recipe.recipePhotoURL}}">
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm">


                        <div style="width:80%; margin: 25px auto;">
                            <div class="card" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Prep: 15 mins </li>
                                    <li class="list-group-item">Cook: 25 mins </li>
                                    <li class="list-group-item">Total time: 40 mins</li>
                                    <li class="list-group-item">Servings size: 4</li>
                                    <li class="list-group-item"> Total Calories: 300</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class=col-sm>
                        <div style="width:80%; margin: 25px auto;">
                            <div class="card" style="width: 18rem;">
                                <div class="container pt-3">
                                    <h3>Ingredients </h3>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <p> <label class="form-check-label" for="defaultCheck1">
                                                Olive Oil 1/2 teaspoon
                                            </label></p>
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <p> <label class="form-check-label" for="defaultCheck1">
                                                Spinach 1 cup
                                            </label></p>
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <p> <label class="form-check-label" for="defaultCheck1">
                                                Egg 2 large
                                            </label></p>

                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <p> <label class="form-check-label" for="defaultCheck1">
                                                Mexican Cheese 1/4 cup, shredded
                                            </label></p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- ADD COST PER INGREDIENTS AND TOTAL COST OF THE MEAL --}}


                    </div>
                </div>
            </div>
            <hr>

            <div class="container p-3 my-3 border bg-dark text-white">
                <div style="width:80%; margin: 25px auto;">
                    {{!-- <div class="card" style="width: 18rem;"> --}}
                    <h4> Directions </h4>
                    <h5> Step 1</h5>
                    <p> Heat a non-stick skilled over medium heat</p>

                    <h5> Step 2</h5>
                    <p> Coat spinach with olive oil and cook until slightly wilted, 3-4 minutes</p>

                    <h5> Step 3</h5>
                    <p> Reduce heat to medium-low. Alright!</p>

                    <h5> Step 4</h5>
                    <p> Beat the eggs and add to the skillet with the spinach. Stir slowly over the heat until they
                        reach your desired doneness. Once cheese has melted move the eggs to a plate and enjoy!</p>
                </div>

            </div>


            {{!-- <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Total Calories</th>
                        <th scope="col">249</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Carbs</th>
                        <td>3g</td>

                    </tr>
                    <tr>
                        <th scope="row">Fat</th>
                        <td>17g</td>
                    </tr>
                    <tr>
                        <th scope="row"> Protein</th>
                        <td>20g</td>
                    </tr>

                    <tr>
                        <th scope="row">Fiber</th>
                        <td>1g</td>
                    </tr>

                    <tr>
                        <th scope="row">Net carbs</th>
                        <td>2g</td>
                    </tr>

                    <tr>
                        <th scope="row">Sodium</th>
                        <td>385 mg</td>
                    </tr>
                    <tr>
                        <th scope="row">Cholestrol</th>
                        <td>390 mg</td>
                    </tr>
                </tbody>
            </table> --}}


            <a class="btn btn-sm btn-warning" href="">Edit Recipe</a>
            <form class="deleteForm" action="" method="POST">
                <button class="btn btn-sm btn-danger">
                    Delete Recipe
                </button>
            </form>
        </div>
    </div>
    <div class="well">
        <div class="text-right">
            <a class="btn btn-success" href="">Add New Ingredients</a>
        </div>
        <hr>
    </div>
</div>

{{>footer}}